<a href="/clients/<%= @client.id %>/edit">Edit client</a><br>
<h3><%= @client.name %></h3>
<div>
  <section id="shipping-transactions">
    <label>Shipping Transactions: </label> <%= @shipping_transactions.size %>
    <% @shipping_transactions.each do |transaction| %>
      <ul>
          <li><a href="/transactions/shipping/<%= transaction.id %>"><%= transaction.reference %></a> - <%= transaction.status %></li>
      </ul>
    <% end %>
  </section>
  <section id="receiving-transactions">
  <label>Receiving Transactions: </label><%=@receiving_transactions.size %>
  <% @receiving_transactions.each do |transaction| %>
    <ul>
        <li><a href="/transactions/receiving/<%= transaction.id %>"><%= transaction.reference %></a> - <%= transaction.status %></li>
    </ul>
  <% end %>
  </section>
  <section id="inventory-table">
  <label>Inventory summary</label>
  <table>
    <tr>
      <th>product name</th>
      <th>quantity</th>
    </tr>
    <% @client.products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.quantity %></td>
      </tr>
    <% end %>
  </table>
  </section>
</div>
