<a href="/transactions/receiving/<%= @transaction.id %>/edit">Edit Transaction</a>
<h5>Transaction ID: <%= @transaction.id %>
<br>
Transaction Reference: <%= @transaction.reference %></h5>
<div>
Client: <%= @transaction.client.name %>
<br>
Products on this transaction:<br>
<% @transaction.products.each do |product| %>
  <%= product.name %> - <%= LineItem.find_by(:transaction_id => @transaction.id, :product_id => product.id).quantity if LineItem.find_by(:transaction_id => @transaction.id, :product_id => product.id) %><br>
<% end %>
</div>
